.gradient-background {
	background: linear-gradient(300deg, #42de2d, #2e86c1, #99a3a4);
	background-size: 180% 180%;
	animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.display-6 {
	color: beige;
}

.icon-square {
	width: 3rem;
	height: 3rem;
	border-radius: 0.75rem;
}

.button-89 {
	--b: 3px; /* border thickness */
	--s: 0.3em; /* size of the corner */
	--color: #62666e;
	display: grid;
	place-items: center;

	padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background: conic-gradient(
			from 90deg at var(--b) var(--b),
			#0000 90deg,
			var(--color) 0
		)
		var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
		calc(100% - var(--b) - 2 * var(--_p));
	transition: 0.3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: 0.3em;
	font-size: 18px;
	text-decoration: none;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: 0.02em;
}

.button-89:active {
	background: var(--color);
	color: #fff;
}
